body{

    background-image: url("background1.webp");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

   }

   h1{        
   text-align: center;
      
   }
   P{
    font-size:medium;

   }
   li a:hover{
    color:darkturquoise;
   }
   .center{
          display:block;
            display: block;
          margin-left: auto;
          margin-right: auto;
          border:1px solid black;
        width:540px;
    }
  
  
  p{
    font-size:large;
  }
  li{
    font-size:large;
  }

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Roboto+Slab:wght@300&display=swap');

  *{
    font-family: 'Josefin Sans', sans-serif;
  }
